<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'home' %}"><b>Jobs</b> <small>For Refugees</small></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <ul class="nav justify-content-end">

    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'about' %}">About</a>
      </li>
       </ul>

</div>
  </div>

   {% if request.user.is_authenticated %}
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          {% if user.is_tasker %}

          <a class="nav-link" href="{% url 'tasker_notifications' %}"><span class="fa fa-bell"></span></a>
              {% endif %}

          </li>
        </div>
          <ul class="nav justify-content-end">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="{% url 'home' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{request.user}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                 <a class="dropdown-item" href="{% url 'request_list' %}">Tasks</a>
                  <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                  <a class="dropdown-item" href="#">Billing</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'signout' %}">Logout</a>
              </li>
          </ul>
        </li>
      </ul>
      {% else %}
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
      <ul class="nav justify-content-end">

        <li class="nav-item" >
          <a class="nav-link" href="{% url 'registration' %}">Register</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link ml-auto " href="{% url 'signin' %}">Login</a>
        </li>
      </ul>
      {% endif %}
   
</div>
</nav>
