{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Register
{% endblock title %}


{% block content %}
<br>
<div class="row">
	<div class="col-12">
		<br>
		<a href="{% url 'taskersignup' %}" class="btn btn-block btn-outline-info">
			Tasker Register
		</a>
	</div>
	<div class="col-12">
		<br>
		<a href="{% url 'signup' %}" class="btn btn-block btn-outline-info">
			User Register
		</a>
	</div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


{% endblock content %}