{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Register
{% endblock title %}


{% block content %}
  <div class="text-center py-5">
  <div class="text-center py-5">
  <div class="text-center py-5">
	<div class="row py-5 justify-content-center text-center align-items-center">
		<div class="card-body">
		<div class="card-text">
		    <a href="{% url 'signup' %}" class="btn btn-outline-info btn-lg">User Register</a>

		    <a href="{% url 'taskersignup' %}" class="btn btn-outline-info btn-lg">Tasker Register</a>
		</div> 

  		</div>

	</div>
</div>
</div>
</div>
{% endblock content %}