{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<style type="text/css">
	  .card {
	    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	    max-width: 300px;
	    margin: auto;
	    text-align: center;
	}

	.title {
	    color: grey;
	    font-size: 18px;
	}

	button {
	    border: none;
	    outline: 0;
	    display: inline-block;
	    padding: 8px;
	    color: white;
	    background-color: #000;
	    text-align: center;
	    cursor: pointer;
	    width: 100%;
	    font-size: 18px;
	}
</style>
<br>
<div class="card">

	<h4 class="card-title">From:{{instance.user}}</h4>
	<p class="card-title">To:{{instance.tasker}}</p>
	<p class="card-text">Date:{{instance.date}}</p>
	<p class="card-text">Time{{instance.time}}</p>
	<p class="card-text">contact number:{{instance.contact_number}}</p>
	<p class="card-text">Description:{{instance.description}}</p>
	 <p class="card-text">Status:{{instance.status}}</p>
	 {% if status == true %}

		{% endif %}	
	<div>

		<a href="{% url 'deni' request_id=instance.id %}" class="btn btn-outline-info btn-lg">Deny</a>
		<a href="{% url 'accept' request_id=instance.id %}" class="btn btn-outline-info btn-lg">Accept</a>

	</div>
	<br>
</div>
<br>

{% endblock content %}