{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
   Tasks List

{% endblock title %}
{% block content %}
<h1>Task List:</h1>
<style type="text/css">
	  .card {
	    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	    max-width: 300px;
	    margin: auto;
	    text-align: center;
	}

	.title {
	    color: grey;
	    font-size: 18px;
	}

	button {
	    border: none;
	    outline: 0;
	    display: inline-block;
	    padding: 8px;
	    color: white;
	    background-color: #000;
	    text-align: center;
	    cursor: pointer;
	    width: 100%;
	    font-size: 18px;
	}

{% for user in request_list %}
        </style>
        <br>
        <div class="card">
        <a href=" {% url 'request' user.id %}">Request From: {{user}}</a><br>
      </div>  
{% endfor %}
{% endblock content %}
 
