{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<style type="text/css">
	  .card {
	    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	    max-width: 300px;
	    margin: auto;
	    text-align: center;
	}

	.title {
	    color: grey;
	    font-size: 18px;
	}

	button {
	    border: none;
	    outline: 0;
	    display: inline-block;
	    padding: 8px;
	    color: white;
	    background-color: #000;
	    text-align: center;
	    cursor: pointer;
	    width: 100%;
	    font-size: 18px;
	}
</style>
	<style type="text/css">
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

f
/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 
</style>
<br>

<div class="card">
		
	<h4 class="card-title">From:{{instance.sender}}</h4>
	<p class="card-title">To:{{ instance.notification.description }}</p>
	<p class="card-text">Date:{{instance.notification.date}}</p>
	<p class="card-text">Date:{{instance.notification.time}}</p>
	<p class="card-text">contact number:{{instance.notification.contact_number}}</p>
	<p class="card-text">Description:{{instance.notification.description}}</p>
	 <p class="card-text" ><b>Status:</b>{{instance.notification.status}}</p>
      
			</div>
			</div>
	<div>
       	{% if request.user.is_tasker %}

			<a href="{% url 'deni' request_id=instance.id %}" class="btn btn-outline-info btn-lg">Deny</a>
			{% if status == true %}

			<a href="{% url 'accept' request_id=instance.id %}" class="btn btn-outline-info btn-lg">Accept</a>

			{% endif %}	
	    {% endif %}
			{% if instance.status == True %}

      	{% if not request.user.is_tasker %}
			{#  proceed to a Billing page #} 

			<a href="#" class="btn btn-outline-info btn-lg">Book a Task</a>
	    {% endif %}
	    {% endif %}
	</div>
	<br>
</div>
<br>

{% endblock content %}