
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    
   
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!-- My CSS -->
  </head>
  
  <body>
    <style type="text/css">
     

  .main {
    flex: 1 0 auto;
  }

/* Menu - profile */
.bg-card-user {
  background: rgba(0,77,64,.5);
  padding: 15px 0;
}



/* LOGIN */
.logueo {/* PARALLAX */
    height: 650px!important;
}
i.iconis {
    font-size: 1em!important;
    margin-top: 8px;
}

    </style>

    
    
                        

   
  </body>
</html>