{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<br>
<div class="row">
  <div class="col-12">
    <div class="card">
      {% if user.is_tasker %}
        <img class="card-img-top img-fluid" src="{{user.tasker.profile_picture.url}}" alt="Card image cap">
      {% endif %}
      <div class="card-body">
        <h5 class="card-title">{{user.username}}</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">First Name: {{user.first_name}}</li>
        <li class="list-group-item">Last Name: {{user.last_name}}</li>
        <li class="list-group-item">Email: {{user.email}}</li>
        <li class="list-group-item">Last Name: {{user.last_name}}</li>
      </ul>
      <div class="card-body">
        {% if request.user.is_tasker %}
          <a href="{% url 'tasker_edit_profile' %}" class="btn btn-outline-info btn-block">Edit profile</a>
        {% else %}
          <a href="{% url 'edit_profile' %}" class="btn btn-outline-info btn-block">Edit profile</a>
        {% endif %}
        
      </div>
    </div>
  </div>
</div>


{% endblock content %}
