{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<style type="text/css">
	.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.title {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}


	    		 
</style>
  {% for area in areas %}

            {% for tasker in area.tasker_set.all%}
</style>

<br>

<div class="card">

  <img src="{{tasker.profile_picture.url}}" alt="" style="width:100%">
  <h3>{{tasker.user}}</h3>
  <p class="title">Profession:{{tasker.profession}}</p>
  <p>Rate:{{tasker.rate}}</p>
   <p>Skills: {% for skill in tasker.categories.all %} -{{skill}}{% endfor %}</p>
  <p>areas:{% for area in tasker.areas.all %} -{{area}}{% endfor %}</p>
  <p><a class="btn btn-outline-info my-2 my-sm-0" href="{% url 'tasker_profile_detail' tasker.id %}">Send a Request</a></p>

</div>
</style>
</div>
</style>
  {% endfor %}
  {% endfor %}
<br>

{% endblock content %}
