{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <form action="{% url 'list'%}" >
    </div>
    {{form|crispy}}
      <br>
      <br>
        <div>
          <br>
          <div class="container">
            <input type="submit" class="btn btn-outline-info col-lg-12 py-4 " value='Search'>
             </div>
        </div>
        </form>
      </div>
  </div>
</div>
{% endblock content %}
