{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<style type="text/css">
	  .card {
	    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	    max-width: 300px;
	    margin: auto;
	    text-align: center;
	}

	.title {
	    color: grey;
	    font-size: 18px;
	}

	button {
	    border: none;
	    outline: 0;
	    display: inline-block;
	    padding: 8px;
	    color: white;
	    background-color: #000;
	    text-align: center;
	    cursor: pointer;
	    width: 100%;
	    font-size: 18px;
	}

	 {% for area in areas %}
	 {% for tasker in taskers %}
</style>

<br>

<div class="card">
  <img src="{{tasker.profile_picture.url}}" alt="" style="width:100%">
  <h3>{{tasker.user}}</h3>
  <p class="title">Profession:{{tasker.profession}}</p>
  <p>Rate:{{tasker.rate}}</p>
   <p>Skills: {% for skill in tasker.categories.all %} -{{skill}}{% endfor %}</p>
  <p>areas:{% for area in tasker.areas.all %} -{{area}}{% endfor %}</p>
  <p><a class="btn btn-outline-info my-2 my-sm-0" href="{% url 'tasker_profile_detail' tasker.id %}">Contact</a></p>
</div>
</style>
  	{% endfor %}
  	{% endfor %}
<br>
<nav aria-label="...">
  <ul class="pagination pagination-lg">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">1</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
  </ul>
</nav>
{% endblock content %}
