{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<style type="text/css">
	  .card {
	    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.22);
	    max-width: 344px;
	    margin: auto;
	    text-align: center;
	}

	.title {
	    color: grey;
	    font-size: 18px;
	}

	button {
	    border: none;
	    outline: 0;
	    display: inline-block;
	    padding: 8px;
	    color: white;
	    background-color: #000;
	    text-align: center;
	    cursor: pointer;
	    width: 100%;
	    font-size: 18px;
	}

{% for area in areas %}
	{% for tasker in taskers %}
	</style>

	<br>

	<div class="card">
	  <img src="{{tasker.profile_picture.url}}" alt="" style="width:100%">
	  <h3>{{tasker.user}}</h3>
	  <p class="title">Profession:{{tasker.profession}}</p>
	  <p>Rate:{{tasker.rate}}</p>
	   <p>Skills: {% for skill in tasker.categories.all %} -{{skill}}{% endfor %}</p>
	  <p>areas:{% for area in tasker.areas.all %} -{{area}}{% endfor %}</p>
	  <p><a class="btn btn-outline-info my-2 my-sm-0" href="{% url 'tasker_profile_detail' tasker.id %}">Contact</a></p>
	</div>
	{% endfor %}
{% endfor %}
<br>
<div class="pagination">
    <span class="step-links">
        {% if categories.has_previous %}
            <a href="?page={{ categories.previous_page_number }}&q={{ request.GET.q }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ categories.number }} of {{ categories.paginator.num_pages }}.
        </span>

        {% if categories.has_next %}
            <a href="?page={{ categories.next_page_number }}&q={{ request.GET.q }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock content %}
