{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<style type="text/css">
  	.card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      max-width: 300px;
      margin: auto;
      text-align: center;
  }

  .title {
      color: grey;
      font-size: 18px;
  }

  button {
      border: none;
      outline: 0;
      display: inline-block;
      padding: 8px;
      color: white;
      background-color: #000;
      text-align: center;
      cursor: pointer;
      width: 100%;
      font-size: 18px;

  }	 

    .icon-width {
    width: 10px;
}
    </style>   		 

<br>
  <div class="card">
    
<div>
    <img class="card-img-top img-fluid" src="{{user.profile_picture.url}}">
</div>
    <h3>{{user.user}}</h3>
    <p class="title">Profession:{{user.profession}}</p>
    <p>Rate:{{user.rate}}</p>
     <p>Skills: {% for skill in user.categories.all %} -{{skill}}{% endfor %}</p>
    <p>areas:{% for area in user.areas.all %} -{{area}}{% endfor %}</p>
    <p><a class="btn btn-outline-info my-2 my-sm-0" href="{% url 'create_request' %}">Send a Request</a></p>
  </div>
  <br>
{% endblock content %}
